<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>[ Ultimate Fighter In You. ]</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons - Need ot change-->
  <link href="static/img/favicon.png" rel="icon"> 
  <link href="static/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="static/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="static/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="static/lib/animate/animate.min.css" rel="stylesheet">
  <link href="static/lib/ionicons/css/ionicons.min.css" rel="stylesheet">



  <!-- Main Stylesheet File -->
  <link href="static/css/style.css" rel="stylesheet">

  <!-- Portfolio Style -->
  <link href="static/css/portfolio.css" rel="stylesheet">


  <!-- Survey Plugin 4 line items-->
  <script type="text/javascript" src="https://unpkg.com/jquery"></script>
  <script type="text/javascript" src="https://surveyjs.azureedge.net/1.1.1/survey.jquery.js"></script>
  <link href="https://surveyjs.azureedge.net/1.1.1/survey.css" type="text/css" rel="stylesheet"/>
  <!-- Third party plugin CSS-->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css" rel="stylesheet" />

  <!-- =======================================================
    Theme Name: BizPage
    Theme URL: https://bootstrapmade.com/bizpage-bootstrap-business-template/
    Author: BootstrapMade.com
    License: https://bootstrapmade.com/license/
  ======================================================= -->
</head>

<body>

  <!--==========================
    Header
  ============================-->
  <header id="header">
    <div class="container-fluid">

      <div id="logo" class="pull-left">
        <h1><a href="#intro" class="scrollto">Ultimate Fighter In You.</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="#intro"><img src="img/logo.png" alt="" title="" /></a>-->
      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li class="menu-active"><a href="#intro">Home</a></li>
          <li><a href="#about">About</a></li>
          <!-- <li><a href="#services">Services</a></li> -->
          <li><a href="#portfolio_sec">Analyses</a></li>
          <li><a href="#survey">Fighter In You</a></li>
          <li><a href="#team">Team</a></li>
          <!-- <li class="menu-has-children"><a href="">Drop Down</a>
            <ul>
              <li><a href="#">Drop Down 1</a></li>
              <li><a href="#">Drop Down 3</a></li>
              <li><a href="#">Drop Down 4</a></li>
              <li><a href="#">Drop Down 5</a></li>
            </ul> -->
          </li>
          <li><a href="#contact">Contact</a></li>
        </ul>
      </nav><!-- #nav-menu-container -->
    </div>
  </header><!-- #header -->

  <!--==========================
    Intro Section
  ============================-->
  <section id="intro">
    <div class="intro-container">
      <div id="introCarousel" class="carousel  slide carousel-fade" data-ride="carousel">

        <ol class="carousel-indicators"></ol>

        <div class="carousel-inner" role="listbox">

          <div class="carousel-item active">
            <div class="carousel-background"><img src="static/img/intro-carousel/1.jpg" alt=""></div>
            <div class="carousel-container">
              <div class="carousel-content">
                <h2>Welcome Everybody!</h2>
                <p>This is dedicated to all of the avid mixed martial arts fans around the world!</p>
                <a href="#call-to-action" class="btn-get-started scrollto">Let's Get Started!</a>
              </div>
            </div>
          </div>

          <div class="carousel-item">
            <div class="carousel-background"><img src="static/img/intro-carousel/2.jpg" alt=""></div>
            <div class="carousel-container">
              <div class="carousel-content">
                <h2>¡Bienvenidos todos!</h2>
                <p> Esto está dedicado a todos los ávidos fanáticos de las artes marciales mixtas de todo el mundo!</p>
                <a href="#call-to-action" class="btn-get-started scrollto">Let's Get Started!</a>
              </div>
            </div>
          </div>

          <div class="carousel-item">
            <div class="carousel-background"><img src="static/img/intro-carousel/3.jpg" alt=""></div>
            <div class="carousel-container">
              <div class="carousel-content">
                <h2>歡迎大家</h2>
                <p> 這是獻給全世界所有狂熱的混合武術愛好者!</p>
                <a href="#call-to-action" class="btn-get-started scrollto">Let's Get Started!</a>
              </div>
            </div>
          </div>

          <div class="carousel-item">
            <div class="carousel-background"><img src="static/img/intro-carousel/4.jpg" alt=""></div>
            <div class="carousel-container">
              <div class="carousel-content">
                <h2>مرحبا بالجميع!</h2>
                <p>هذا مكرس لجميع عشاق فنون القتال المختلطة المتعطشين حول العالم!</p>
                <a href="#call-to-action" class="btn-get-started scrollto">Let's Get Started!</a>
              </div>
            </div>
          </div>


          <div class="carousel-item">
            <div class="carousel-background"><img src="static/img/intro-carousel/5.jpg" alt=""></div>
            <div class="carousel-container">
              <div class="carousel-content">
                <h2>Добро пожаловать всем!</h2>
                <p>Это посвящено всем заядлым любителям смешанных единоборств по всему миру!</p>

                <a href="#call-to-action" class="btn-get-started scrollto">Let's Get Started!</a>
              </div>
            </div>
          </div>

        </div>

        <a class="carousel-control-prev" href="#introCarousel" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon ion-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>

        <a class="carousel-control-next" href="#introCarousel" role="button" data-slide="next">
          <span class="carousel-control-next-icon ion-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>

      </div>
    </div>
  </section><!-- #intro -->

  <main id="main">

<!-- ======= Call To Action Section ======= -->
<section id="call-to-action" class="wow fadeIn">
  <div class="container text-center">
    <h3>- DISCLAIMER -</h3>
    <p class="text-lg-center">Our purpose for this project is to blend our love data science and for the sport of mixed martial arts, particularly the UFC. Our website is not affiliated with the actual <a href="www.ufc.com">Ultimate Fighting Championship (UFC)</a>, nor do we claim to be. </p> 
    <p class="text-lg-center"> If you'd like to learn more about their organization or reach out to them, please visit their official website in the link above. Otherwise, please click "Proceed" or scroll down to the next section. </p>

    <p class="text-lg-center">Lastly, shout out to all the fight fans all over the world! Hope you enjoy and find the "Ultimate Fighter In You".</p>

    <p class="text-lg-center">Team Zeta</p>
    <a class="cta-btn scrollto" href="#about">Proceed</a>
  </div>
</section><!-- End Call To Action Section -->


    <!--==========================
      About Us Section
    ============================-->
    <section id="about">

      <div class="container">
        <header class="section-header text-center">
          <h3>About Our Project</h3>
          Our project consists of two components:
          <ol>
            <li>Webscraping the UFC's Fighter Stats Section, transforming the data, and creating meaningful visualizations</li>
            <li> Build a Supervised machine learning (ML) classification model that can predict whether a person innately is a striker or grappler based on a set of user inputs</li>
          </ol>
        </header>

          <p> One of the most efficient ways to discover this about a person (without having to actually throw them into an octagon to fight) is by engaging their mind with a hypthetical scenario, and surveying them. With that said, we created ML model to make predictions based on a set of user inputs on the backend, and created a survey on the frontend. Our ML model that we designed uses UFC fighter data related to strikes and grappling metrics including: estimated timed on each activitiy, both attempts and landed for volume and accuracy, and their win-by and lose-by methods.
          </p>
          <p>
          As MMA fans ourselves, we understand that this a grossly oversimplification because there are a large subset of talented and unique fighters that make it truly difficult to put them in a box, let alone program a model to pinpoint styles one possesses. For the purposes of this project, our thesis is that we believe that individuals innately lean towards either being a striker or a grappler, slightly or greatly.
          </p>

          <p class="text-center">Our process includes three overarching steps:</p>
  
        
      </div>

      <div class="container">

        <div class="row about-cols">
          <!-- <div class="customFlex"></div> -->

              <div class="col-md-4 col-sm-12 wow fadeInUp">
              
                <div class="about-col">
                  <div class="img">
                    <img src="static/img/about-mission.jpg" alt="" class="img-fluid">
                    <div class="icon"><i class="ion-ios-speedometer-outline"></i></div>
                  </div>
                  <h2 class="title">I. Data Preparation</h2>
                  <p>
                    We extracted our data from two sources: <a href="https://www.kaggle.com/rajeevw/ufcdata">Kaggle.com's UFC Fighter Dataset</a> that includes all fighter statistics from <strong> January 2014 through October 2018 </strong>,  and we web-scraped the <a href="http://ufcstats.com/statistics/fighters">UFC Fighter Statistic section</a> in <strong> July 2019 </strong> using BeautifulSoup4 last year. These were the best available datasets at the time. We then transformed the raw datasets using Python, Pandas, and then used MS Excel for quick percentile ranking analysis to see how figthers ranked next to each other in terms of metrics.
                  </p>
                  <br>
                </div>
              </div>

              <div class="col-md-4 col-sm-12 wow fadeInUp" data-wow-delay="0.1s">
                <div class="about-col">
                  <div class="img">
                    <img src="static/img/about-plan.jpg" alt="" class="img-fluid">
                    <div class="icon"><i class="ion-ios-list-outline"></i></div>
                  </div>
                  <h2 class="title">II. Data Analysis</h2>
                  <p>
                    After transformation of the Kaggle and webscraped datasets, we performed statistical analysis to created custom ratios to classify 1,100 fighters based on UFC fighter stats described above. We then used this output to train three different ML models, using Sci-Kit Learn. The models we analyzed were: linear regression, logistic regression, and a decision tree model. We chose the logistic regression model because it gave us 86% accuracy on both training and test data, to prevent potential overfitting.
                  </p>
                </div>
              </div>

              <div class="col-md-4 col-sm-12 wow fadeInUp" data-wow-delay="0.2s">
                <div class="about-col">
                  <div class="img">
                    <img src="static/img/about-vision.jpg" alt="" class="img-fluid">
                    <div class="icon"><i class="ion-ios-eye-outline"></i></div>
                  </div>
                  <h2 class="title">III. Visualization</h2>
                  <p>
                    After transforming both datasets using Python, we used Tableau to create visualizations in our analysis section. For ML model, we used a Pickle file, and a Flask app as the backend engine to render our ML model. Front-end wise, we used Survey.js, JavaScript (ES6), BootStrap4, CSS, and HTML to showcase our final product, the "Ultimate Fighter In You"ML powered survey. Stay tuned.

                  </p>
                </div>
              </div>
          
            <div class="layoutAdj">
        </div>

      </div>
    </section><!-- #about -->

 
    <!--==========================
      Portfolio Section - from creatives template
    ============================-->
<section id="portfolio"  class="section-bg wow fadeInUp" >
  <div class="section-header">
    <div class="container">
      <header class="section-header">
        <h3 class="section-title">Analyses</h3>
      </header>
    </div>
  </div>
      <div class="row">
        <div class="col-lg-12">
          <ul id="portfolio-flters">
            <li data-filter="*" class="filter-active">All</li>
            <li data-filter=".filter-webscrape">Webscrape</li>
            <li data-filter=".filter-machinelearning">Machine Learning</li>
          </ul>
        </div>
      </div>
      

        <div class="container-fluid p-0">
           
              <div class="row portfolio-container">

                <div class="col-lg-4 col-sm-6 mb-4 portfolio-item filter-webscrape  wow fadeInUp" >
                 
                    <a class="portfolio-box " href="static/img/portfolio/fullsize/fightingStylePie.png" title="The most common stance is Orthodox, which is often seen with right-handed fighters. This is because by leading with their weaker left-hand and foot first, it allow the fighter to keep their strong arm loaded for a power-shot often seen in boxing. Conversely, southpaw is for most common for left-handed figthers. The least common fighting style are Open Stance and Sideways, often used by figthers with a wrestling and Karate background, respectively. By definition Open Stance is the position where your feet are facing when facing your opponent. They are squared up and the body is about a 45 degree angle to the other fighter. Sideways stance the name speaks for itself. The fighter also stands with a slight bend in their knees, and often keeps a healthy distance, enabling mobility to move in-and-out for calculated timed strikes, and even throw kicks at the head, body or legs."
                        ><img class="img-fluid" src="static/img/portfolio/thumbnails/fightingStylePie.png" alt="" />
                        <div class="portfolio-box-caption">
                            <div class="project-category text-white-50">WebScraped Data - July 2019</div>
                            <div class="project-name">Fighting Stances</div>
                        </div></a
                    >
                  
                </div>               
                <div class="col-lg-4 col-sm-6 mb-4 portfolio-item filter-webscrape  wow fadeInUp">
                 
                    <a class="portfolio-box" href="static/img/portfolio/fullsize/histogramWeightClasses.png" title="The histrogram illustrates the weight group with the most fighters are the 155lb to 170lb group. We can infer from the chart that if we were able to increase the population of fighters in this dataset to include fighters from all legitmate MMA promotions across the world, we would see a normal distrubtion of fighters across the weight classes."
                        ><img class="img-fluid" src="static/img/portfolio/thumbnails/histogramWeightClasses.png" alt="" />
                        <div class="portfolio-box-caption">
                            <div class="project-category text-white-50">WebScraped Data - July 2019</div>
                            <div class="project-name">Weight Classes</div>
                        </div></a
                    >
               
                </div>

                <div class="col-lg-4 col-sm-6 mb-4 portfolio-item filter-webscrape  wow fadeInUp">
                  
                    <a class="portfolio-box" href="static/img/portfolio/fullsize/StrikingAttemptsLandedvsAccuracy.PNG" title="The key take away is that Strikes Landed Per Minute has a less moderate relationship with a fighter's Striking Accuracy. A possible explaination is Strikers that land the most strikes on their opponents are not not always the most accurate due to the sheer volume of attempts thrown in a round, which reduces accuracy percentage when they miss. This is also holds true in boxing as well. In the sport of MMA, any fighter has a punchers chance to win, which makes the nature of the sport very unpredictable, and statistics only tells a portion of the story without domain knowledge."
                        ><img class="img-fluid" src="static/img/portfolio/thumbnails/StrikingAttemptsLandedvsAccuracy.PNG" alt="" />
                        <div class="portfolio-box-caption">
                            <div class="project-category text-white-50">WebScraped Data - July 2019</div>
                            <div class="project-name">Striking Attempts & Landed Vs. Accuracy</div>
                        </div></a
                    >
                  
              </div>
              
                <div class="col-lg-4 col-sm-6 mb-4 portfolio-item filter-webscrape  wow fadeInUp">
                  
                    <a class="portfolio-box" href="static/img/portfolio/fullsize/wrestlerAllTime_big.png" title="As the number of Average Takedowns Completed increases, you see wavering trend of Average Takedown Accuracy percentage, suggesting moderate relationship between the two measures. However, in the middle of the chart illustrates that wrestlers who completed half as many takedowns compared to the fighters at the top, tend to be more accurate. Unless the figther is in the top 20% of wrestlers, we can infer that those who choose to be more patient in setting up, and selective with takedown opportunities, are likelier to experience a higher success rate."
                        ><img class="img-fluid" src="static/img/portfolio/thumbnails/wrestlerAllTime_big.png" alt="" /> 
                        <div class="portfolio-box-caption">
                            <div class="project-category text-white-50">WebScraped Data - July 2019</div>
                            <div class="project-name">Wrestlers - Takedown Accuracy Vs Completed (a)</div>
                        </div></a
                    >
                  
                </div>
                <div class="col-lg-4 col-sm-6 mb-4 portfolio-item filter-webscrape  wow fadeInUp">
                  
                  <a class="portfolio-box" href="static/img/portfolio/fullsize/ATD_vs_TA_July2019.PNG" title=""
                      ><img class="img-fluid" src="static/img/portfolio/thumbnails/ATD_vs_TA_July2019.PNG" alt="" /> 
                      <div class="portfolio-box-caption">
                          <div class="project-category text-white-50">WebScraped Data - July 2019</div>
                          <div class="project-name">Wrestlers - Takedown Accuracy Vs Completed (b)</div>
                      </div></a
                  >
                
              </div>
                <div class="col-lg-4 col-sm-6 mb-4 portfolio-item filter-webscrape  wow fadeInUp">
                  
                  <a class="portfolio-box" href="static/img/portfolio/fullsize/WinningVsSelectedMeasures.PNG" title="The data suggests that that there is not a single measure that determines winning. There are many layers to a fighter that enable them to be great, particularly their background, style, coaching, preparation, physical attributes, and raw talent. On a seperate note, this chart also provided us insight that a linear regression model may not be a suitable candidate for our ML Model."
                      ><img class="img-fluid" src="static/img/portfolio/thumbnails/WinningVsSelectedMeasures.PNG" alt="" /> 
                      <div class="portfolio-box-caption">
                          <div class="project-category text-white-50">WebScraped Data - July 2019</div>
                          <div class="project-name">Winning Vs. Selected Measures</div>
                      </div></a
                  >
                
              </div>
              <div class="col-lg-4 col-sm-6 mb-4 portfolio-item filter-webscrape  wow fadeInUp">
                  
                    <a class="portfolio-box" href="static/img/portfolio/fullsize/stackedBarWLD.png" title="This chart shows the selected top 9 figters UFC history, their total professional matches, and results. This chart at a glance and with no domain knowledge can be very misleading. One could easily percieve Travis Fulton is one of the best fighter in UFC history. However, that is far from the truth. One can argrue that Jon Jones is one of the greatest UFC fighters of all time; and he is the undisputed greatest light heavy weight champion of all time. Although the chart does show he is nearly undefeated (only lost 1 by disqualification, and another by No Contest), he holds the best and longest winning record in that division against top- tier adversaries."
                        ><img class="img-fluid" src="static/img/portfolio/thumbnails/stackedBarWLD_thumbnail.png" alt="" />
                        <div class="portfolio-box-caption">
                            <div class="project-category text-white-50">WebScraped Data - July 2019</div>
                            <div class="project-name">Wins, Draws, and Losses</div>
                        </div></a
                    >
                  
                </div>
                
                <div class="col-lg-4 col-sm-6 mb-4 portfolio-item filter-machinelearning  wow fadeInUp">
                  
                    <a class="portfolio-box" href="static/img/portfolio/fullsize/ratios.png" title="Here are all the metrics we calculated from the raw round by round UFC fight dataset from Kaggle in the Data Preparation and Analysis phases. We tested different combinations of these metrics in our ML model candidates. Majority of the time, bouts always start off with striking, so we decided to prioritize the Striking metrics as the numerator, and Grappling as the denominator for our ratios. Subsequently, we performed a Percentile Rank view where all fighters fell on a distrubtion for both attempts and time ratios. We used this to classify fighters either as Strikers or Grapplers, along with consideration of their total knockout and submission victories. We then split up 80% of this newly formed dataset to be training, and 20% to be test data for our ML model."
                        ><img class="img-fluid" src="static/img/portfolio/thumbnails/measuresThumbnail.png" alt="" />
                        <div class="portfolio-box-caption p-3">
                            <div class="project-category text-white-50">Machine Learning Model</div>
                            <div class="project-name">The Inputs</div>
                        </div></a
                    >
                 
              </div>
              
              <div class="col-lg-4 col-sm-6 mb-4 portfolio-item filter-machinelearning  wow fadeInUp">
                
                  <a class="portfolio-box wow fadeInUp" href="static/img/portfolio/fullsize/parametersTested.png" title="The key takeaway here is that we decided on using the logistic regression model, which allows us to build our model around multivariables. These are all the different combination of measures we exluded from the The Inputs, leaving us only measures we wanted to test, with notes of training and testing results. Our goal here was to select the most logical set of inputs while ensuring our model would not be prone to overfitting or memorizing, which we will go over more in The Results."
                      ><img class="img-fluid" src="static/img/portfolio/thumbnails/parametersTested.png" alt="" />
                      <div class="portfolio-box-caption p-3">
                          <div class="project-category text-white-50">Machine Learning Model</div>
                          <div class="project-name">Combinations Of Metrics Tested</div>
                      </div></a
                  >
                
            </div>
            <div class="col-lg-4 col-sm-6 mb-4 portfolio-item filter-machinelearning  wow fadeInUp">
                  
              <a class="portfolio-box" href="static/img/portfolio/fullsize/confusionMatrix.png" title="This is a Confusion Matrix we created with Python using the Seaborn library. Here we were working to understand the intricacies of our ML model. The color scale on the right from top to bottom illustrates what our machine learning model finds to be most valuable feature (tan) to the most confusing (black) when making predictions. We found that the Percent Rank of Striking to Grappling Attempts Ratio was the best indicator of predicting whether a user was a grappler or a striker at heart. We used this information when determining weights for each feature we tied to each survey question in our final product."
                  ><img class="img-fluid" src="static/img/portfolio/thumbnails/confusionMatrix.png" alt="" />
                  <div class="portfolio-box-caption p-3">
                      <div class="project-category text-white-50">Machine Learning Model</div>
                      <div class="project-name">Confusion Matrix</div>
                  </div></a
              >

          </div>

            <div class="col-lg-4 col-sm-6 mb-4 portfolio-item filter-machinelearning wow fadeInUp">
             
                <a class="portfolio-box" href="static/img/portfolio/fullsize/resultsUpdated_fullsize.PNG" title="Lastly, here you can see that our ML model performed consistently on both training and unseen test datasets with an 86% accuracy, which gave us confidence that our model was not overfitting. Overfitting means when the model learns and memorizes the details and noise from the training dataset, and does not generalize well to unseen data. As humans, we're making decisions in the grey everyday with the experience and data we've acquired through life. We are far from perfect and even make mistakes with tasks we've done a million times. However, if we're able to get 80% of our decisions right, let alone program a ML model to yield 86% accuracy on unseen data, I'd say we should smile and be happy with ourselves until the next iteration."
                    ><img class="img-fluid" src="static/img/portfolio/thumbnails/resultsThumbnail.PNG" alt="" />
                    <div class="portfolio-box-caption p-3">
                        <div class="project-category text-white-50">Machine Learning Model</div>
                        <div class="project-name">The Results</div>
                    </div></a
                >
              
          </div>
        </div>
      </div>
    
  
</section>


    <!--==========================
      SURVEY Section
    ============================-->
    <!-- <section id="survey" class="wow fadeInUp"> -->
    <section id="survey" class="section bg-dark wow fadeInUp">
      <div class="container">

        <header class="section-header wow fadeInUp">
          <h3 style="color: #18d26e;"><strong>Find Fighter In You.</strong></h3>
        </header>

        <!-- SURVEY BOXES - utilize JavaScript -->
        
        
        <div id="surveyElement" class="wow fadeInUp"></div>
        <div id="surveyResultText" style="text-align: center; margin:0 auto"></div>
        <div id="surveyResult" style="text-align: center; margin:0 auto"></div>
        
      </div>
    </section>

    

    <!--==========================
      Team Section
    ============================-->
    <section id="team">


      <!-- original -->
      <!-- <div class="container"> -->
      <div class="container">
        
        <!-- copy -->
        <div class="section-header wow fadeInUp">
          <h3>Meet The Creators</h3>
          <!-- <p></p> -->
        </div>


        <div class="row h-100 justify-content-center align-items-center">

          <div class="col-lg-3 col-md-6 wow fadeInUp">
            <div class="member">
              <img src="static/img/team-1.png" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Johnny Giang</h4>
                  <span>Lead Developer And Analyst</span>
                  <div class="social">
                    <!--<a href=""><i class="fa fa-twitter"></i></a>
                    <a href=""><i class="fa fa-facebook"></i></a> -->
                    <a href="https://github.com/jhustles"><i class="fa fa-github"></i></a>
                    <a href="https://www.linkedin.com/in/johnesongiang/"><i class="fa fa-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
            <div class="member">
              <img src="static/img/team-2.png" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Jeffery Anthony Jr.</h4>
                  <span>Data Engineer</span>
                  <div class="social">
                    <!--<a href=""><i class="fa fa-twitter"></i></a>
                    <a href=""><i class="fa fa-facebook"></i></a> -->
                    <!-- <a href=""><i class="fa fa-google-plus"></i></a> -->
                    <a href="https://www.linkedin.com/in/jeffery-anthony-ba465a54/"><i class="fa fa-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
            <div class="member">
              <img src="static/img/team-3.png" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>David Pham</h4>
                  <span>Data Analyst</span>
                  <div class="social">
                    <!---<a href=""><i class="fa fa-twitter"></i></a>
                    <a href=""><i class="fa fa-facebook"></i></a> -->
                    <!-- <a href=""><i class="fa fa-google-plus"></i></a> -->
                    <a href="https://www.linkedin.com/in/david-pham-engineer/"><i class="fa fa-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>



        </div>

      </div>
    </section><!-- #team -->


  </main>

  <!--==========================
    Footer
  ============================-->
  <section id="contact" class="section-bg wow fadeInUp">
    <div class="container">

      <div class="section-header">
        <h3>Contact Us</h3>
        <p>If you'd like to leave feedback or contact us regarding opportunities, please fill out the form below, and send it our way. Thank you for viewing!🙏❤️️</p>
      </div>

      <!-- <div class="row contact-info">

        <div class="col-md-4">
          <div class="contact-address">
            <i class="ion-ios-location-outline"></i>
            <h3>Address</h3>
            <address>A108 Adam Street, NY 535022, USA</address>
          </div>
        </div>

        <div class="col-md-4">
          <div class="contact-phone">
            <i class="ion-ios-telephone-outline"></i>
            <h3>Phone Number</h3>
            <p><a href="tel:+155895548855">+1 5589 55488 55</a></p>
          </div>
        </div>

        <div class="col-md-4">
          <div class="contact-email">
            <i class="ion-ios-email-outline"></i>
            <h3>Email</h3>
            <p><a href="mailto:info@example.com">info@example.com</a></p>
          </div>
        </div>

      </div> -->

      <div class="form">
        <form action="forms/contact.php" method="post" role="form" class="php-email-form">
          <div class="form-row">
            <div class="form-group col-md-6">
              <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
              <div class="validate"></div>
            </div>
            <div class="form-group col-md-6">
              <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
              <div class="validate"></div>
            </div>
          </div>
          <div class="form-group">
            <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
            <div class="validate"></div>
          </div>
          <div class="form-group">
            <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
            <div class="validate"></div>
          </div>
          <!-- <div class="mb-3">
            <div class="loading">Loading</div>
            <div class="error-message"></div>
            <div class="sent-message">Your message has been sent. Thank you!</div>
          </div> -->
          <div class="text-center"><button type="submit">Send Message</button></div>
        </form>
      </div>

    </div>
  </section><!-- End Contact Section -->

  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-4 col-md-6 footer-info">
            <h3>Ultimate Fighter In You. </h3>
            <!-- <p>Cras fermentum odio eu feugiat lide par naso tierra. Justo eget nada terra videa magna derita valies darta donna mare fermentum iaculis eu non diam phasellus. Scelerisque felis imperdiet proin fermentum leo. Amet volutpat consequat mauris nunc congue.</p> -->
          </div>

          <div class="col-lg-4 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="ion-ios-arrow-right"></i> <a href="https://www.ufc.com/">UFC Home Page</a></li>
              <li><i class="ion-ios-arrow-right"></i> <a href="https://www.sherdog.com/">Sherdog MMA News</a></li>
              <li><i class="ion-ios-arrow-right"></i> <a href="https://public.tableau.com/profile/johnny7819#!/vizhome/UFCData_Oct2018/Striker_AllTime_July19?publish=yes">Tableau Interactive Charts</a></li>
              <!-- <li><i class="ion-ios-arrow-right"></i> <a href="#">Terms of service</a></li>
              <li><i class="ion-ios-arrow-right"></i> <a href="#">Privacy policy</a></li> -->
            </ul>
          </div>

          <!-- <div class="col-lg-3 col-md-6 footer-contact">
            <h4>Contact Us</h4>
            <p>
              A108 Adam Street <br>
              New York, NY 535022<br>
              United States <br>
              <strong>Phone:</strong> +1 5589 55488 55<br>
              <strong>Email:</strong> info@example.com<br>
            </p>

            <div class="social-links">
              <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
              <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
              <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
              <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
              <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
            </div>

          </div> -->

          <div class="col-lg-4 col-md-6 footer-newsletter">
            <h4>Our Newsletter</h4>
            <!-- <p>Tamen quem nulla quae legam multos aute sint culpa legam noster magna veniam enim veniam illum dolore legam minim quorum culpa amet magna export quem marada parida nodela caramase seza.</p> -->
            <form action="" method="post">
              <input type="email" name="email"><input type="submit"  value="Subscribe">
            </form>
          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <!-- <div class="copyright">
        &copy; Copyright <strong>Ultimate Fighter In You</strong>. All Rights Reserved.
      </div> -->
      <div class="credits">

        Designed by <a href=#>Team Zeta</a>
      </div>
    </div>
  </footer><!-- #footer -->

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
  <script src="static/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="static/lib/wow/wow.min.js"></script>

  <!-- SURVEY PLUGIN's - FLASK AND JS files -->
  <script type="text/javascript" src="static/js/survey.js"></script>

  <script src="static/lib/touchSwipe/jquery.touchSwipe.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>

  <!-- Third party plugin JS-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>
  <script src="static/lib/isotope-layout/isotope.pkgd.min.js"></script>
  <!-- Contact Form JavaScript File -->
  <!-- <script src="contactform/contactform.js"></script> -->

  <!-- Template Main Javascript File -->
  <script src="static/js/main.js"></script>

</body>
</html>
