<!-- This is the original portfolio fromt the BizPage Template - Use this for CSS Reference -->



<section id="portfolio"  class="section-bg" >
    <div class="container">

      <header class="section-header">
        <h3 class="section-title">Analyses</h3>
      </header>

      <div class="row">
        <div class="col-lg-12">
          <ul id="portfolio-flters">
           <!-- <li data-filter="*" class="filter-active"></li>
            <li data-filter=".filter-app">App</li>
            <li data-filter=".filter-card">Card</li>
            <li data-filter=".filter-web">Web</li> -->
          </ul>
        </div>
      </div>

      <div class="row portfolio-container">

        <div class="col-lg-4 col-md-6 portfolio-item filter-app wow fadeInUp">
          <div class="portfolio-wrap">
            <figure>
              <img src="static/img/portfolio/app1.png" class="img-fluid" alt="">
              <a href="static/img/portfolio/app1.png" data-lightbox="portfolio" data-title="This chart displays what the most common fighting style there is. We can note that the most common style is Orthodox, which is the fighting style for most right handed people" class="link-preview" title="Preview"><i class="ion ion-eye"></i></a>
              <p>This pie chart displays what the most common fighting style there are. We can note that the most common style is Orthodox, which is the fighting style for most right handed people. Whereaas the least common fighting style is Open Stance and Sideways. By definition Open Stance is the position your feet are facing when facing your opponent. They are squared up and the body is about a 45 degree angle to the other fighter. Sideways is different in the sense that fighters use it to keep a distance from their opponent.s In result of this, it makes the fighter move laterally poorly.</p>
             <!-- <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a> -->
            </figure>

            <div class="portfolio-info">
              <h4><a href="https://public.tableau.com/profile/david5382#!/vizhome/FightingStyles/Sheet1">Fighting Styles</a></h4>
              <p></p>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-web wow fadeInUp" data-wow-delay="0.1s">
          <div class="portfolio-wrap">
            <figure>
              <img src="static/img/portfolio/app2.png" class="img-fluid" alt="">
              <a href="static/img/portfolio/app2.png" class="link-preview" data-lightbox="portfolio" data-title="In this chart we are determining which weight class is most popular. From this table we can easily see that the 155-170 range is a popular weight class for people. This data also could correlate with regular people as well, because the average weight of a man is around this figure." title="Preview"><i class="ion ion-eye"></i></a>
            <!---  <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a> -->
            </figure>

        <div class="portfolio-info">
              <h4><a href="https://public.tableau.com/profile/david5382#!/vizhome/NumberofFightersinWeightClass/Sheet1">Types of Fighters</a></h4>
              <p></p>
            </div> 
          </div>
        </div> 

        <div class="col-lg-4 col-md-6 portfolio-item filter-app wow fadeInUp" data-wow-delay="0.2s">
          <div class="portfolio-wrap">
            <figure>
              <img src="static/img/portfolio/app4.png" class="img-fluid" alt="">
              <a href="static/img/portfolio/app4.png" class="link-preview" data-lightbox="portfolio" data-title="In this pie chart it depicts the Wins, Loss, and Draws of the best fighters in history (in terms of most Wins) as well as some of the popular fighters who are featured in social media. Famous fighters who aren’t mention frequently, like Travis Fulton and Dan Severn, make the list because they have the most Wins in UFC history, but both have a lot of losses and draws. Actress/UFC fighter Ronda Rousey is featured because of her impressive record and her role as a movie star. Non-UFC fans may have heard of names such as Jon Jones and Conor McGregor and they make the list as well. Both have outstanding records with Jon “Bones” Jones only having one lost in his career thus far." title="Preview"><i class="ion ion-eye"></i></a>
            <!---  <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a> -->
            </figure>

            <div class="portfolio-info">
              <h4><a href="https://public.tableau.com/profile/david5382#!/vizhome/FightersWinsLossesandDraws/Sheet1">Fighters: W/L/D</a></h4>
              <p></p>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-card wow fadeInUp">
          <div class="portfolio-wrap">
            <figure>
              <img src="static/img/portfolio/card2.png" class="img-fluid" alt="">
              <a href="static/img/portfolio/card2.png" class="link-preview" data-lightbox="portfolio" data-title="Card 2" title="Preview"><i class="ion ion-eye"></i></a>
            <!--  <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a> -->
            </figure>

            <div class="portfolio-info">
              <h4><a href="">Striker</a></h4>
              <p>Striker</p>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-web wow fadeInUp" data-wow-delay="0.1s">
          <div class="portfolio-wrap">
            <figure>
              <img src="static/img/portfolio/jeff1.png" class="img-fluid" alt="">
              <a href="static/img/portfolio/jeff1.png" class="link-preview" data-lightbox="portfolio" data-title="" title="Preview"><i class="ion ion-eye"></i></a>
             <!-- <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a> -->
            </figure>

            <div class="portfolio-info">
              <h4><a>Top Fighters</a></h4>
              <p></p>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-app wow fadeInUp" data-wow-delay="0.2s">
          <div class="portfolio-wrap">
            <figure>
              <img src="static/img/portfolio/ML3.png" class="img-fluid" alt="">
              <a href="static/img/portfolio/ML3.png" class="link-preview" data-lightbox="portfolio" data-title="The confusion matrix shows the ways in which our classification model is confused when it makes predictions. Please see the color scale to the right. Viewing it from top to bottom, the color scale illustrates what our machine learning model found to be most valuable to confusing features when making predictions. We found that the Percent Rank of Striking to Grappling Attempts Ratio was the strongest indicator of predicting if a user was a grappler or a striker at heart. We used this information when determining weights for each feature tied to a survey question.
              "></i></a> 
              <p>Incorporated Machine Learning on our Project</p>
            <!--  <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a> -->
            </figure>

            <div class="portfolio-info">
              <h4><a href="">Machine Learning</a></h4>
              <p></p>
            </div>
          </div>
        </div>
<!--
        <div class="col-lg-4 col-md-6 portfolio-item filter-card wow fadeInUp">
          <div class="portfolio-wrap">
            <figure>
              <img src="img/portfolio/card1.jpg" class="img-fluid" alt="">
              <a href="img/portfolio/card1.jpg" class="link-preview" data-lightbox="portfolio" data-title="Card 1" title="Preview"><i class="ion ion-eye"></i></a>
              <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
            </figure>

         <div class="portfolio-info">
              <h4><a href="#">Card 1</a></h4>
              <p>Card</p>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-card wow fadeInUp" data-wow-delay="0.1s">
          <div class="portfolio-wrap">
            <figure>
              <img src="img/portfolio/card3.jpg" class="img-fluid" alt="">
              <a href="img/portfolio/card3.jpg" class="link-preview" data-lightbox="portfolio" data-title="Card 3" title="Preview"><i class="ion ion-eye"></i></a>
              <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
            </figure>

            <div class="portfolio-info">
              <h4><a href="#">Card 3</a></h4>
              <p>Card</p>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-web wow fadeInUp" data-wow-delay="0.2s">
          <div class="portfolio-wrap">
            <figure>
              <img src="img/portfolio/web1.jpg" class="img-fluid" alt="">
              <a href="img/portfolio/web1.jpg" class="link-preview" data-lightbox="portfolio" data-title="Web 1" title="Preview"><i class="ion ion-eye"></i></a>
              <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
            </figure>

            <div class="portfolio-info">
              <h4><a href="#">Web 1</a></h4>
              <p>Web</p>
            </div> -->
          </div> 
        </div> 

      </div> 

    </div> 
  </section><!-- #portfolio -->





  <!-- CONTACT SECTION -->

  <section id="contact" class="section-bg wow fadeInUp">
    <div class="container">

      <div class="section-header">
        <h3>Contact Us</h3>
        <p>If you'd like to leave feedback or contact us regarding opportunities, please fill out the form below, and send it our way. Thank you for viewing!🙏❤️️</p>
      </div>

      <!-- <div class="row contact-info">

        <div class="col-md-4">
          <div class="contact-address">
            <i class="ion-ios-location-outline"></i>
            <h3>Address</h3>
            <address>A108 Adam Street, NY 535022, USA</address>
          </div>
        </div>

        <div class="col-md-4">
          <div class="contact-phone">
            <i class="ion-ios-telephone-outline"></i>
            <h3>Phone Number</h3>
            <p><a href="tel:+155895548855">+1 5589 55488 55</a></p>
          </div>
        </div>

        <div class="col-md-4">
          <div class="contact-email">
            <i class="ion-ios-email-outline"></i>
            <h3>Email</h3>
            <p><a href="mailto:info@example.com">info@example.com</a></p>
          </div>
        </div>

      </div> -->

      <div class="form">
        <form action="forms/contact.php" method="post" role="form" class="php-email-form">
          <div class="form-row">
            <div class="form-group col-md-6">
              <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
              <div class="validate"></div>
            </div>
            <div class="form-group col-md-6">
              <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
              <div class="validate"></div>
            </div>
          </div>
          <div class="form-group">
            <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
            <div class="validate"></div>
          </div>
          <div class="form-group">
            <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
            <div class="validate"></div>
          </div>
          <!-- <div class="mb-3">
            <div class="loading">Loading</div>
            <div class="error-message"></div>
            <div class="sent-message">Your message has been sent. Thank you!</div>
          </div> -->
          <div class="text-center"><button type="submit">Send Message</button></div>
        </form>
      </div>

    </div>
  </section><!-- End Contact Section -->